# Секреты (Самое важное!)
.env

# База данных и бэкапы (Не отправляем локальные данные в репозиторий)
*.db
backups/

# Логи
logs/
*.log

# Окружение Python и зависимости
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Настройки PyCharm
.idea/

# Мусор macOS
.DS_Store

# Файлы операционной системы
Thumbs.db
db.db

plan.txt